<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SongPath" value="SongList.dat" />
    <add key="ScenePath" value="scene.txt" />
    <add key="DatPath" value="serverconfig.dat" />
    <add key="SDUser"  value="SDGMTool"/>
    <add key="SDPwd" value="C055a1281eC1"/>
    <add key="SDMember" value="GOnlineGame"/>
    
    <add key="jw2GWuser" value="hebe723" />
    <add key="jw2GWpwd" value="boboting" />
    <add key="jw2GWVersion" value="01.02.u2.5.cn" />
    <add key="jw2user" value="toolsgm"/>
    <add key="jw2pwd" value="7odgu670ype[w3o"/>
    <add key="jw2GameDB" value="game_db" />
    <add key="jw2ItemDB" value="item_db" />
    <add key="jw2LogDB" value="log_db" />
    <add key="jw2LoginDB" value="login_db" />
    <add key="jw2MessengerDB" value="messenger" />
    <add key="OracleData" value="BUSINESS8" />
	<add key="OracleUser" value="WEBCACHE" />
	<add key="OraclePwd" value="UjXtfVzLML%XURu]" />
  </appSettings>
</configuration>
